{% if data %}

    <td><input type="text" value="{{data.item_id}}" name="item_id"></td>
    <td><input type="text" value="{{data.item_name}}" name="item_name"></td>
    <td><input type="text" value="{{data.item_price}}" name="item_price"></td>
    <td><input type="text" value="{{data.item_amount}}" name="item_amount"></td>
    <td><input type="text" value="{{data.item_exp_date}}" name="item_exp_date"></td>
    <td><button class="btn btn-success"
            hx-post="{{url_for('update_item', item_id=data.item_id)}}"
            hx-include="#item-row-{{data.item_id}}"
            hx-target="#item-row-{{data.item_id}}"
            hx-swap="innerHTML"
            >Save</button></td>

{% else %}
    <h1>Item not found</h1>

{% endif %}